/*
Jordan Carter
VFW 1308
CSS sheet
project 2
*/
body{
    background-color: #003366;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: #f0f0f0; 
    width: auto;
    color: black;
    font-family: !important;
    font-size: x-large;
    text-align: center;
    text-shadow: 3px;
    text-emphasis: none;
    text-outline: 1px #ffffff;
}
h3{
    background: images/Button_upSkin.png;
    margin: 10px;
    border: thin;
}
h2{
    background-color:#C0C0C0;
    border: 2px #000;
    width: inherit;
    color: white;
    text-align: left;
    text-shadow: 3px;
}
a{
  font-family: sans-serif;
  color: #fff;
  background-color: transparent;
}
a:hover{
    color: red;
} 
fieldset{
    background: #000;
    border: dashed;
    width: auto;
    color: white;
    font: cursive large 100 bold;
    text-color: #fff;
    text-align: inherit;
    text-shadow: 3px;
    text-emphasis: none;
    text-outline: .5px #ffffff;  
}
legend{
    font: 100 bold larger sans-serif;
    color: red;
    alignment-adjust: central;
}
div{
    background: #909090;
    border: 1px thin;
    width: auto;
    font: cursive large 100 bold;
    text-align: inherit;
    text-shadow: 3px;
    text-emphasis: none;
    text-transform: !important
}
input[type="button"]{
    padding: 5px;
    font-weight: bold;
}
ul{
    color: white;
}
dl{
    color: white;
}
li{
    color: #fff;
}